@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
#content {
  margin-left: 235px ;
}
.col-left {
  position: absolute;
  left: 0;
  width: 235px;
  min-height: 100%;
  background-color: #322e2b;

  #nav-left {
    background-color: #44403b;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .toggler {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer;
      width: 60px;
      height: 30px;
      opacity: 0;

      &:checked + #navigation > div {
        transform: rotate(135deg);

        &:before, &:after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }

    #navigation {
      position: relative;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      & > div {
        position: absolute;
        background-color: white;
        height: 2px;
        width: 100%;
        transition: all 0.4s;

        &::before, &::after {
          content: '';
          position: absolute;
          background-color: white;
          height: 2px;
          top: -10px;
          width: 100%;
        }

        &:after {
          top: 10px;
        }
      }
    }

    & .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        &:hover {
          background-color: #49423f;
        }

        a {
          text-decoration: none;
          display: block;
          padding: 15px;
          cursor: pointer;
          font-size: 18px;
          color: #acb2d4;
          border-bottom: 1px solid #515151;

          &.parent::after {
            content: "\f107";
            font: normal normal normal 14px/2 FontAwesome;
            float: right;
            margin-right: 8px;
          }

          //collapsed class is overriding the content of parent class, but when we click the collapsed class changes to
          // collapse and then the content of parent is shown
          &.collapsed::after {
            content: "\f105";
          }
        }
      }
    }

    & li ul#sub-menu1 {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;

      & li {
        line-height: 10px;

        &:hover {
          background-color: #48423f;
        }

        a {
          display: block;
          transition: all 0.5s;
        }
      }
    }

    & li ul li a:hover {
      transform: translateX(10px);
      background-color: #322e2b;
      width: 100%;
      overflow: hidden;
    }
  }
}



