 <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
     <div class="container-fluid">
       <a routerLink="/" class="navbar-brand">Mitrata</a>
       <a routerLink="/admin/dashboard" class="navbar-brand">Admin</a>
       <button class="navbar-toggler" data-toggle = "collapse" data-target ="#navbar-menu">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbar-menu">
         <ul class="navbar-nav ml-auto navbar-dark">
           <li class="nav-item ml-auto">
             <a routerLink="/login" class="nav-link text-white font-weight-normal">
               Login</a></li>
           <li class="nav-item ml-auto">
             <a routerLink="/register" class="nav-link text-white font-weight-normal">
               Register</a></li>
         </ul>
       </div>
     </div>
 </nav>

