<div class="row mx-2 justify-content-between">
  <div class="col-lg-2">
      <div class="card shadow">
        <div class="card-header">
          Total Users
        </div>
        <div class="card-body">
          <i class="fa fa-users fa-2x text-primary"></i>
        </div>
        <div class="card-footer">
          <a href="#" class="text-secondary text-muted">view more</a>
        </div>
      </div>
  </div>
  <div class="col-lg-2">
    <div class="card shadow">
      <div class="card-header">
        New Users
      </div>
      <div class="card-body">
        <i class="fa fa-plus-circle text-secondary fa-2x"></i>
      </div>
      <div class="card-footer">
        <a href="#" class="text-secondary text-muted">view more</a>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="card shadow">
      <div class="card-header">
          Online Users
      </div>
      <div class="card-body">
        <i class="fa fa-dot-circle-o fa-2x text-success"></i>
      </div>
      <div class="card-footer">
        <a href="#" class="text-secondary text-muted">view more</a>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="card shadow">
      <div class="card-header">
          Offline Users
      </div>
      <div class="card-body">
          <i class="fa fa-dot-circle-o fa-2x text-secondary"></i>
      </div>
      <div class="card-footer">
        <a href="#" class="text-secondary text-muted">view more</a>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="card shadow">
      <div class="card-header">
        Banned Users
      </div>
      <div class="card-body">
        <i class="fa fa-ban fa-2x text-danger"></i>
      </div>
      <div class="card-footer">
        <a href="#" class="text-secondary text-muted">view more</a>
      </div>
    </div>
  </div>
</div>
<div class="row mx-2 my-3">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-database fa-2x"></i>&nbsp;<span class="h3">Usage Analytics</span>
      </div>
      <div class="card-body">
        <app-chart></app-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
          <i class="fa  fa-cc-discover fa-2x"></i>&nbsp;<span class="h3">User Distribution</span>
      </div>
      <div class="card-body">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>


